html{
	height : 100%;
}
body{
	width: 95%;
	height: 100%;
	background-color: #444444;
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#555555), to(#111111));
	background-image: -webkit-linear-gradient(top, #555555, 0%, #111111, 100%);
	background-image: -moz-linear-gradient(top, #555555 0%, #111111 100%);
	background-image: linear-gradient(to bottom, #555555 0%, #111111 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff111111', GradientType=0);
	background-attachment: fixed;
	padding: 0;
	margin: 15px auto;
}

.wrap{
}

.header{
	background-color: white;
	border: 3px;
	border-color: blue;
	border-style: dotted solid;
	text-align: center;
}

.container{
	background-color: white;
	width: 100%;
	padding: 10px;
	border: 3px;
	border-color: green;
	border-style: dotted solid;
}
.footer{
	background-color: white;
	border: 3px;
	border-color: red;
	border-style: dotted solid;
	text-align: center;
}